/.bundle
/vendor/bundle
/vendor/cache
/output-*
/.vagrant
/.vagrant.d
/vault
/config/*.port
/build
/vendor/projects/awsme_cli
/config/aws.*
/config/authorized_keys
/config/ssh_agent
/pkg
/pkgsrc
/pkgsrc-wip
