[submodule "vendor/projects/offline"]
	path = vendor/projects/offline
	url = git@github.com:destructuring/offline-install
[submodule "vendor/projects/awsme"]
	path = vendor/projects/awsme
	url = git@github.com:destructuring/awsme
[submodule "vendor/projects/boxcar"]
	path = vendor/projects/boxcar
	url = git@github.com:destructuring/boxcar
